/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a6120d;
  font-size: 1.6rem;
  min-height: 100vh;
  margin: 0;
  padding: 1em;
}
